.hero-image-wrapper {
  grid-area: 1/1;
}

.hero-content-wrapper {
  grid-area: 1/1;
  position: relative;
  place-items: center;
  display: grid;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-content {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  max-width: 1100px;
  align-items: center;
  padding: 120px 10px;
}

.hero-content-right {
  padding: 20px 40px;
  background-color: var(--main-accent-color);
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 25%);
  color: white;
  margin: 10px;
}

.hero-content-left {
  margin: 10px;
}

.hero-content-left h2 {
  color: white;
  font-size: 52px;
  font-weight: 100;
  line-height: 1;
}

.hero-buttons a {
  display: inline-block;
  border: white 2px solid;
  padding: 12px 24px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 20px;
  color: white;
  transition: 0.3s all;
}

.highlighted {
  margin-left: 20px;
  background-color: var(--main-accent-color);
}

.hero-buttons a:hover {
  background-color: white;
  color: black;
}

.form-title {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .hero-image-wrapper {
    max-height: auto;
  }
  .hero-content {
    grid-template-columns: 100%;
  }

  .hero-content-left {
    text-align: center;
    padding: 150px 0;
  }

  .hero-content-right {
    margin: 0px;
  }
}
