.hero-row {
  padding-top: 80px;
  height: 90vh;
  min-height: 800px;
}
.hero-bg-image {
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-content-right {
  padding: 40px;
  background-color: var(--main-accent-color);
  color: white;
  border-radius: 30px;
}

.hero-content-left h2 {
  color: white;
  font-size: 54px;
}

.hero-buttons a {
  display: inline-block;
  border: white 2px solid;
  padding: 14px 24px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 20px;
  color: white;
  transition: 0.3s all;
  border-radius: 50px;
}

.hero-buttons a.highlighted {
  margin-left: 20px;
  border: 2px solid var(--main-accent-color);
  background-color: var(--main-accent-color);
}

.hero-buttons a:hover {
  background-color: white;
  border: white 2px solid;
  color: black;
}

.form-title {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .hero-row {
    min-height: 500px;
    height: 80vh;
  }
  .hero-content-left {
    text-align: center;
  }

  .hero-content-right {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero-row {
    padding-top: 40px;
  }
  .hero-content-left h2 {
    font-size: 28px;
  }

  .hero-buttons {
    margin-top: 30px;
  }
  .hero-buttons a {
    display: block;
    font-size: 12px;
    max-width: 300px;
    margin: 0px auto;
    padding: 20px 10px;
  }

  .hero-buttons a.highlighted {
    margin: 0px auto;
    margin-top: 20px;
  }
}
