.programs-bg-image {
  background-color: rgba(0, 0, 0, 0.2);
}

.programs-content h2 {
  color: white;
}

.content {
  grid-auto-rows: 1fr;
}
@media (max-width: 992px) {
  .programs-content h2 {
    text-align: center;
    font-size: 28px;
  }
  .content {
    grid-auto-rows: auto;
    row-gap: 20px;
    padding: 20px;
  }
}
