.row-bg-image-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.programs-content h2 {
  color: white;
  font-size: 42px;
  font-weight: 100;
  margin-bottom: 10px;
}

.content {
  grid-auto-rows: 1fr;
}
@media (max-width: 992px) {
  .content {
    grid-template-columns: 100%;
  }
}
