.programs-bg-image {
  background-color: rgba(0, 0, 0, 0.2);
}

.programs-content h2 {
  color: white;
}

.content {
  grid-auto-rows: 1fr;
}
@media (max-width: 992px) {
  .content {
    grid-template-columns: 100%;
  }
}
