.footer-content-wrapper {
  background-color: var(--main-accent-color);
}

.footer-content-right {
  padding: 40px;
  background-color: #f4f4f4;
  color: black;
  border-radius: 30px;
}

.footer-content-left h2 {
  color: white;
  font-size: 52px;
}

.footer-contact-info {
  color: white;
}

.footer-contact-info > div > a {
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0;
  margin: 2px 0;
}

.footer-contact-info > div > a > span {
  font-size: 24px;
  vertical-align: middle;
}

.footer-contact-info > div > a:hover {
  text-decoration: underline;
}

.form-title {
  text-align: center;
  color: black;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.1;
}

.form-subtitle {
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px 30px;
}

.google-map > iframe {
  border: 0;
  width: 100%;
  height: 300px;
  pointer-events: none;
}

.colophon {
  background: black;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 30px 0px;
}
@media (max-width: 600px) {
  .footer-content-right {
    margin: 0;
    padding: 20px;
  }
  .footer-content-left h2 {
    font-size: 28px;
    text-align: center;
  }
}
