.main-nav {
  display: block;
}
.main-header {
  padding: 20px;
  background: transparent;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  z-index: 1000;
}

.main-header.small {
  background: #ffffff;
  padding: 10px 20px;
  box-shadow: rgb(0 0 0 / 23%) 0px 0px 7px 0px;
}
.main-header a {
  color: white;
  opacity: 0.8;
  transition: all 0.3s;
}

.main-header.small a {
  color: black;
}

.main-header a:hover {
  opacity: 1;
}

.logo-mark {
  width: 100px;
}

.logo-type {
  width: 130px;
  margin-left: 10px;
}

.logo-mark,
.logo-type {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.5s;
  fill: white;
}
.main-header.small .logo-mark,
.main-header.main-header.small .logo-type {
  fill: var(--main-accent-color);
}

.main-header.small .logo-mark {
  width: 70px;
}

.main-header.small .logo-type {
  width: 100px;
}

.main-header nav > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

.main-header nav > ul > li {
  display: inline-block;
}

.main-header nav > ul > li > a {
  display: block;
  text-transform: uppercase;
  padding: 14px;
  letter-spacing: 2px;
  font-weight: 500;
}

.main-header .highlighted {
  background: white;
  opacity: 1;
  color: black;
}
.main-header.small .highlighted {
  background: var(--main-accent-color);
  color: white;
}

.main-header a.highlighted:hover {
  background: black;
  color: white;
}

.header-lower {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.logo > a {
  opacity: 1;
}

@media (max-width: 992px) {
  .main-nav {
    display: none;
  }
  .header-lower {
    grid-template-columns: 60% 40%;
  }
  .logo-mark {
    width: 50px;
  }

  .logo-type {
    width: 80px;
  }
  .main-header.small .logo-mark {
    width: 50px;
  }

  .main-header.small .logo-type {
    width: 80px;
  }
}
