.language-switcher {
  display: inline-block;
  text-transform: uppercase;
}

.language-switcher > a.language-link {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 700;
  opacity: 1;
  padding: 14px;
  margin-left: 6px;
  border-radius: 50px;
}

.language-switcher > a.language-link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.language-switcher span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
}

.language-icon {
  line-height: 1;
  margin-right: 5px;
  font-size: 16px;
}
