.mobile-nav {
  display: none;
  text-align: right;
  vertical-align: middle;
  padding: 10px 12px;
  margin-left: 10px;
}
.hamburger {
  height: 25px;
  width: 25px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background: white;
  margin: 6px 0px;
  transition: all 0.3s;
}

.sidenav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 250px;
  background: #c0262d;
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 25%);
  padding: 50px 0;
}

nav.sidenav > ul > li {
  display: block;
}

nav.sidenav > ul > li a {
  padding: 20px 15px;
  width: 100%;
  color: white !important;
}

.background-blur {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  appearance: none;
  border: none;
}

@media (max-width: 992px) {
  .mobile-nav {
    display: inline-block;
  }
}
