.input-two-col {
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  column-gap: 10px;
  margin-bottom: -5px;
}

.input-two-col > div:first-child input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input-two-col > div:last-child input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.lead-form button {
  display: block;
  margin-top: 20px;
  background-color: white;
  border: 1px solid black;
  color: black;
  min-width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 12px;
  line-height: 1.5;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}

.lead-form button:hover {
  background: black;
  color: white;
}

.thankyou-page {
  display: grid;
  background: white;
  width: 100%;
  padding: 40px;
  text-align: center;
  align-content: center;
}

.thankyou-page h1 {
  font-size: 40px;
  vertical-align: middle;
  font-weight: 700;
  color: #15c515;
}

.thankyou-page p {
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0;
  color: black;
}
