.summary {
  position: sticky;
  top: 160px;
  background: white;
  border-radius: 30px;
  padding: 20px;
}

.summary > p > span {
  display: block;
}

.price-label {
  font-weight: 700;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
}

.price {
  font-size: 26px;
}

.full-price {
  color: gray;
  margin-right: 10px;
}

.summary ul {
  list-style: disc;
  margin-left: 20px;
}

.summary ul > li {
  color: #484848;
  font-size: 14px;
}

.summary button {
  display: block;
  margin-top: 20px;
  background-color: var(--main-accent-color);
  border: none;
  color: white;
  min-width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 14px;
  line-height: 1.5;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 50px;
}

.summary button:hover {
  background: black;
}

.summary button:disabled {
  background: gray;
  border-color: gray;
  color: white;
}

@media (max-width: 992px) {
  .summary {
    position: static;
    width: 100%;
    border-radius: 30px;
  }
}
